/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #283149;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin-top: 3rem;
    font-size: 5rem;
    color: #DBEDF3;
    text-shadow: 3px 0 #DA0463;
}
img{
    width: 7rem;
    height: 7rem;
    transform: rotate(20deg);
}
.main{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
}
button{
    width: 20%;
    height: 80%;
    border: 10px solid #404B69;
    border-radius: 10px;
    font-size: 5rem;
    color:#d80362;
    text-shadow: 3px 0 #DBEDF3;
 ;

}
#w{
    background-image: url(./images/crash.png);
}
#a{
    background-image: url(./images/tom2.png);
}
#s{
    background-image: url(./images/tom3.png);
}
#d{
    background-image: url(./images/tom1.png);
}
#j{
    background-image: url(./images/snare.png);
}
#k{
    background-image: url(./images/tom4.png);
}
#l{
    background-image: url(./images/kick.png);
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #283149;
    /* border: 2px solid red; */
}

h1{
    font-size: 6rem;
    color: #DBEDF3;
    text-shadow: 4px 0 #DA0463;
}

.main{
    /* border: 2px solid red; */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    width: 10%;
    height: 65%;
    border: 10px solid #404B69;
    border-radius: 20px;
    font-size: 5rem;
    color:#d80362;
    text-shadow: 3px 0 #DBEDF3;
}

#w{
    background-image: url(./images/crash.png);
}
#a{
    background-image: url(./images/tom2.png);
}
#s{
    background-image: url(./images/tom3.png);
}
#d{
    background-image: url(./images/tom1.png);
}
#j{
    background-image: url(./images/snare.png);
}
#k{
    background-image: url(./images/tom4.png);
}
#l{
    background-image: url(./images/kick.png);
}